.nav-color {
    background-color:  grey!important;
}
.card .card-content .card-title {
    margin-bottom: 0;
}

.push-in {
    margin: 50px;
}
.progress {
    margin: 100px 0;
}

.mr {
    margin-right: 10px;
}

.card-title, .card-body {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}